---
---

@import "{{ site.theme }}";

/*If you'd like to change the theme's Sass variables, you must set new values before the @import line in your stylesheet.*/

img {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0px;
}